include MANIFEST.in Makefile *.py *.txt
recursive-include examples *.py shock-tube/clawpack-solution.npz
recursive-include docs *.* *
include source/pysph/base/*.src
recursive-include source *.pxd *.cl *.h
recursive-include bench *.pyx *.py cPoint.cpp cPoint.h  

